<article data-uid="{{ uid }}" class="swiper-slide article-{{ uid }} list {{ classes }} t{{elementIndex}}" data-json="{{ json }}" data-thumb="{{ thumb }}" data-permalink="{{ permalink }}" data-title="{{ title }}" data-content="{{ content }}" data-excerpt="{{ excerpt}}" data-position="{{ position }}" data-show-item="true" data-type="post">
  <div class="content-item">
    <a class="clickable" href="{{ permalink }}">
      <div class="image" style="background-image: url({{ thumb }});">
      </div>
    </a>
    <div class="preview">
      <a class="clickable" href="{{ permalink }}"><h1>{{ title }}</h1></a>
      <div class="tiers">
      {{#categories}}
      	<div>
      		<span>{{name}}</span>
      	</div>
      {{/categories}}
      </div>
      <div class="text">
        {{{ excerpt }}}

         <a class="read-more clickable" href="{{ permalink }}">Read More</a>
      </div>
    </div>
  </div>

</article>