<article data-uid="{{ uid }}" class="swiper-slide article-{{ uid }} related-item" data-json="{{ json }}" data-thumb="{{ thumb }}" data-permalink="{{ permalink }}" data-title="{{ title }}" data-content="{{ content }}" data-position="{{ position }}" data-show-item="true">
    <div class="image">
      <img src="{{ thumb_small }}" />
    </div>
    <div class="information">
      <div class="overlay"></div>
      <div class="detail-block">
        <div class="title">{{ title }}</div>
        {{#caption}}<div class="caption">{{caption}}</div>{{/caption}}
      </div>
    </div>
</article>